/*The overalls*/

*{
   margin:.5;
   padding:.5;
}

body{
   text-align:center; /*I hope you're not using IE6, but just in case... ;)*/
   padding-top:20px;
   background-color:#66A3FF;
}

h2, h4 {
	text-align:center;
  font-family:Chewy;
}

div {
	margin-left:auto;
	margin-right:auto;
  border-color:red;
}

img {
  opacity:0;
  float:left;
}

p {
  vertical-align: center;
}

/*The regions*/

#wrapper {
  width:auto;
  float:center;
  height:90%;
}

#globe {
  margin-left: 2%;
  float:left;
  background-color:#DDBDF0;
}

#algchal {
  float:left;
  font-family: Gloria Hallelujah;
  background-color:#000000;
  color:00FF00;
  font-size:18px;
}

#algchal p {
  font-size:12px;
}

#algchal h2 {
  font-family:pacifico;
}

.main {
   float:left;
   /*height:90%;*/
   width:360px;
   margin:auto;
   border-radius:25px;
   text-align:center;
   font-family:Indie Flower;
   box-shadow: 3px 3px 5px 6px #707054;
   height:100%;
}

/*The buttons*/
.button {
	  height: 45px;
    width: 175px;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
    color: #FFFFFF;
    line-height: 43px;
    font-size:16;
    font-family:chewy;
    box-shadow: 1px 1px 2px 3px #707054;
    /*buttons unhighlightable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#use-sugar {
    background-color: #FF0000;
}

#buy-sugar {
    background-color: #FF0000;
}

#use-flour {
    background-color: #0000FF;
}

#buy-flour {
    background-color: #0000FF;
}

#bake-one {
    background-color: #CC00CC;
}

#font {
    background-color: #CC00CC;
    height:45;
    width:45;
    float:right;
    border-radius:30;
    box-shadow: 3px 3px 5px 6px #707054;
    font-size:20;
    margin:40px;
}

#algchalbutton {
  background-color: #0066FF;
}
